#time li{
float: left;
width: 25%;
height: 30px;
line-height: 30px;
background-color: #ccc;
text-align: center;

font-size: 12px;

}
#time li.current{
  color: orange;
}
.select{
  position: relative;
  height: 100%;
}